<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- VENDOR STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- CUSTOM STYLESHEET -->
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.3.js"
    integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="
    crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- CUSTOM SCRIPT -->
    <script src="scripts/app2.js"></script>

    <title>Project-01</title>
  </head>
  <body>
    <h1> Wardrobe </h1>
    <a class="btn btn-default" href="/" role="button">Back</a>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active" id="all">
        <input type="radio" name="options"  autocomplete="off" checked> All
      </label>
      <label class="btn btn-primary" id="allHats">
        <input type="radio" name="options"  autocomplete="off"> Hats
      </label>
      <label class="btn btn-primary" id="allTops">
        <input type="radio" name="options"  autocomplete="off"> Tops
      </label>
      <label class="btn btn-primary" id="allBottoms">
        <input type="radio" name="options"  autocomplete="off"> Bottoms
      </label>
      <label class="btn btn-primary" id="allShoes">
        <input type="radio" name="options"  autocomplete="off"> Shoes
      </label>
    </div>
    <div id="clothes">
      <script id="clothes-template" type="text/x-handlebars-template">
        <div class="row clothing" data-clothing-id="\{{_id}}">
          <div class="col-md-3" id="blarg">
            <div class="text-center thumbnail">
              <img src="\{{picture}}"></img>
              <br>
              <p>\{{description}}</p>
              <hr>
              <div class="collapse" id="update-\{{_id}}">
                <form class="form-inline update-clothing">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Picture</label>
                    <input type="text" name="picture" class="form-control" placeholder="http://" value="\{{picture}}">
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Description</label>
                    <input type="text" name="description" class="form-control" placeholder="Description" value="\{{description}}">
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Max</label>
                    <input type="text" name="max" class="form-control" placeholder="max" value="\{{max}}">
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-block btn-default update-clothing" value="Update">
                  </div>
                </form>
                <hr>
              </div>
              <p><button class='btn btn-danger delete-clothing'>Delete</button>
              <button class='btn btn-default' data-toggle="collapse" data-target="#update-\{{_id}}">Edit</button></p>
            </div>
          </div>
        </div>
      </script>
    </div>
  </body>
</html>
